body {
    font-family: 'Poppins', sans-serif;
    background-color: #131316;
    color: #fff;    
    padding: 0;
    margin: 0;
}


section {
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media (prefer-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.logos {
    display: flex;
}

.logo:nth-child(2) {
    transition-delay: 200ms;
}

.logo:nth-child(3) {
    transition-delay: 400ms;
}

.logo:nth-child(4) {
    transition-delay: 600ms;
}

.logo:nth-child(5) {
    transition-delay: 800ms;
}

/* set width and heigh img */

img {
    padding: 10px;
    width: 100px;
    height: 100px;
}